/*------------------------------------*

  HOME PAGE

\*------------------------------------*/

/*-----------------Top Section----------------*/
#homepage-header-container{
	margin-top: -66px;
}
.avatar-image{
	margin-top: -162px;
}
.flexbox-text{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
